<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
Hi,<br /><br />

<p>
Your friend <%= @name %> has sent you a $10 off promo code on any product on
ReserveBar.com. Just enter <%= @promo_code %> in the promo field at checkout.
</p>
<p>
ReserveBar was born out of the passion of its founders to allow
friends and customers to celebrate and share good times in a uniquely
American fashion – by giving the gift of the finest spirits, wine and
champagne. ReserveBar.com offers easy ordering; upscale gift
packaging; and fast and reliable delivery. As our motto says: "Good
Spirits. Delivered."
</p>

Sincerely, <br />
ReserveBar.com Team<br />
<br />
support@reservebar.com<br />
<a href="www.reservebar.com/">http://www.reservebar.com</a>
