<div class="content alt" id="spree_content_6">
	<img height="600" style="float:left;margin:10px 0 0 10px;" src="http://i.imgur.com/N07wW.jpg">
	<div class="content-main" style="float:right;width:440px;margin:30px;">
		<h1 style="margin-top:30px;" class="title">Subscribe & Save!</h1>
		<p>By joining our email list, you’ll receive the following benefits:</p>
		<ul style="list-style: disc;margin-left: 15px;margin-bottom:20px;display: inline-block;">
			<li>Seasonal & Holiday Promotions</li>
			<li>Advance Access to Special-Edition Products and Limited-Time Collections</li>
			<li>Exclusive Invitations to Events & Experiences</li>
			<li>Notification of Expanding Delivery Areas</li>
		</ul>

		<%= render :partial => 'spree/shared/newsletter_subscription_form' %>

	</div>    
	<br class="clear"/>
</div>
<br class="clear"/>