<style>
	#news_subscription-dialog .ui-icon {display:inline;}
	#news_subscription-dialog a.button {color:#fff;}
</style>

<div id="news_subscription-dialog">
	<h2>Your $25 Promo Code is "Holiday25".</h2>

	<div class="clearfix">
	Thank you for subscribing to our newsletter. You will soon be receiving the latest promotions, special offers, and invitations to exclusive events from ReserveBar. <br /><br />

	Ready to toast to new beginnings? Find luxury champagnes such as Moet & Chandon (in the regular or limited edition holiday bottle) and Dom Perignon.<br /><br />

	Wondering how to spread the joy this season? Choose from a selection of premium spirits including Glenfiddich 21 Year Old Grand Reserva and Don Julio 1942.<br /><br />

	Interested in expressing your gratitude with business gifting? Contact a personal concierge at 855-GIFT-FAST to learn more about customized gifts like the Johnnie Walker Blue Label engraved bottle.
	</div>

</div>
