<style>
	#news_subscription-dialog .ui-icon {display:inline;}
	#news_subscription-dialog a.button {color:#fff;}
</style>

<div id="news_subscription-dialog">
	<h2>Thank you for subscribing to our newsletter!</h2>

	<div class="clearfix">
	Keep abreast of ReserveBar news, events and improvements. You’ll receive exclusive discounts and promotions. We are frequently introducing new products or expanding our delivery areas. You will find out about all new website features or tools that will help you give the perfect gift for any occasion. <br />ReserveBar. Good Spirits. Delivered.
	</div>

</div>