<style>
	#news_subscription-dialog .ui-icon {display:inline;}
	#news_subscription-dialog a.button {color:#fff;}
</style>

<div id="news_subscription-dialog">
	Thank you for inviting your friend <%= @name %>
	to share in the gift of Top-Shelf Spirits, Fine Wine and Premium
	Champagne.<br />
	ReserveBar. Good Spirits. Delivered.
</div>

